{% extends 'dashboard/base.html' %}
{% block head_css %}
    <style>
        @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
        @import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");

        body {
            font-family: 'Montserrat', sans-serif;
            background: #112233;
        }

        .weather-card {
            margin: 60px auto;
            height: 740px;
            width: 450px;
            background: #fff;
            box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
            overflow: hidden;
        }

        .weather-card .top {
            position: relative;
            height: 570px;
            width: 100%;
            overflow: hidden;
            background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg") no-repeat;
            background-size: cover;
            background-position: center center;
            text-align: center;
        }

        .weather-card .top .wrapper {
            padding: 30px;
            position: relative;
            z-index: 1;
        }

        .weather-card .top .wrapper .mynav {
            height: 20px;
        }

        .weather-card .top .wrapper .mynav .lnr {
            color: #fff;
            font-size: 20px;
        }

        .weather-card .top .wrapper .mynav .lnr-chevron-left {
            display: inline-block;
            float: left;
        }

        .weather-card .top .wrapper .mynav .lnr-cog {
            display: inline-block;
            float: right;
        }

        .weather-card .top .wrapper .heading {
            margin-top: 20px;
            font-size: 35px;
            font-weight: 400;
            color: #fff;
        }

        .weather-card .top .wrapper .location {
            margin-top: 20px;
            font-size: 21px;
            font-weight: 400;
            color: #fff;
        }

        .weather-card .top .wrapper .temp {
            margin-top: 20px;
        }

        .weather-card .top .wrapper .temp a {
            text-decoration: none;
            color: #fff;
        }

        .weather-card .top .wrapper .temp a .temp-type {
            font-size: 85px;
        }

        .weather-card .top .wrapper .temp .temp-value {
            display: inline-block;
            font-size: 85px;
            font-weight: 600;
            color: #fff;
        }

        .weather-card .top .wrapper .temp .deg {
            display: inline-block;
            font-size: 35px;
            font-weight: 600;
            color: #fff;
            vertical-align: top;
            margin-top: 10px;
        }

        .weather-card .top:after {
            content: "";
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
        }

        .weather-card .bottom {
            padding: 0 30px;
            background: #fff;
        }

        .weather-card .bottom .wrapper .forecast {
            overflow: hidden;
            margin: 0;
            font-size: 0;
            padding: 0;
            padding-top: 20px;
            max-height: 155px;
        }

        .weather-card .bottom .wrapper .forecast a {
            text-decoration: none;
            color: #000;
        }

        .weather-card .bottom .wrapper .forecast .go-up {
            text-align: center;
            display: block;
            font-size: 25px;
            margin-bottom: 10px;
        }

        .weather-card .bottom .wrapper .forecast li {
            display: block;
            font-size: 25px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.25);
            line-height: 1em;
            margin-bottom: 30px;
        }

        .weather-card .bottom .wrapper .forecast li .date {
            display: inline-block;
        }

        .weather-card .bottom .wrapper .forecast li .condition {
            display: inline-block;
            vertical-align: middle;
            float: right;
            font-size: 25px;
        }

        .weather-card .bottom .wrapper .forecast li .condition .temp {
            display: inline-block;
            vertical-align: top;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 400;
            padding-top: 2px;
        }

        .weather-card .bottom .wrapper .forecast li .condition .temp .deg {
            display: inline-block;
            font-size: 10px;
            font-weight: 600;
            margin-left: 3px;
            vertical-align: top;
        }

        .weather-card .bottom .wrapper .forecast li .condition .temp .temp-type {
            font-size: 20px;
        }

        .weather-card .bottom .wrapper .forecast li.active {
            color: rgba(0, 0, 0, 0.8);
        }

    </style>
{% endblock %}
{% block head_script %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}
{% block title %}
    لیست پست ها
{% endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 1222px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-10 col-md-2 mb-2">
                        <h1 class="m-0 text-dark">لیست پست ها</h1>
                    </div>
                    <div class="col-sm-10 col-md-2 mb-2">
                        <a href="{% url 'create-article' %}">
                            <button class="btn btn-primary"> ایجاد پست جدید<i class="fa fa-plus mr-2"></i></button>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control float-left" onchange="location = this.value;">
                            <option value="{% url 'article-filter' '-id' %}"
                                    {% if request.path == '/accounts/article-list/filter/-id/' %}
                                    selected
                                    {% endif %} >جدید ترین
                            </option>
                            <option value="{% url 'article-filter' 'id' %}"
                                    {% if request.path == '/accounts/article-list/filter/id/' %}
                                    selected
                                    {% endif %} >قدیمی ترین
                            </option>
                            <option value="{% url 'article-filter' '-visit_count' %}"
                                    {% if request.path == '/accounts/article-list/filter/-visit_count/' %}
                                    selected
                                    {% endif %} >پر ببننده ترین ترین
                            </option>
                            <option value="{% url 'article-filter' 'my-articles' %}"
                                    {% if request.path == '/accounts/article-list/filter/my-articles/' %}
                                    selected
                                    {% endif %} >پست های من
                            </option>
                        </select>
                    </div><!-- /.col -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    {% if request.user.is_superuser %}
                                        {% for article in article_list %}
                                            <div class="col-6">
                                                <div class="weather-card rain" style="width: 100%">
                                                    <div class="top"
                                                            {% if article.image %}
                                                         style='background: url("{{ article.image.url }}") no-repeat;background-size: cover;
                                                                 background-position: center center; width: 100%'
                                                            {% endif %} >
                                                        <div class="wrapper">
                                                            <div class="mynav float-right">
                                                                <a href="{% url 'edit-article' article.id %}"><span
                                                                        class="lnr lnr-cog bg-dark p-2 mx-1 rounded"></span></a>
                                                            </div>
                                                            <div class="float-left">
                                                                <a href="{% url 'delete-article' article.id %}"><i
                                                                        class="fa fa-remove bg-danger p-2 mx-1 rounded"></i></a>
                                                            </div>
                                                            {% if article.status == 'u' %}
                                                                <div class="mynav mt-2">
                                                                    <span class="bg-danger p-1 rounded">منشتر نشده</span>
                                                                </div>
                                                            {% elif article.status == 'w' %}
                                                                <div class="mynav mt-2">
                                                                    <span class="bg-warning p-1 rounded">درحال بررسی</span>
                                                                </div>
                                                            {% elif article.status == 'p' %}
                                                                <div class="mynav mt-2">
                                                                    <span class="bg-success p-1 rounded">منشتر شده</span>
                                                                </div>
                                                            {% endif %}
                                                            <h1 class="heading bg-info rounded text-truncate"><a
                                                                    target="_blank"
                                                                    href="{% url 'blog:article_detail' article.id article.get_slug_title %}">{{ article.title }}</a>
                                                            </h1>
                                                            <h3 class="location bg-dark rounded">نویسنده:
                                                                {% if article.creator.get_full_name %}
                                                                    {{ article.creator.get_full_name }}
                                                                {% else %}
                                                                    {{ article.creator }}
                                                                {% endif %} </h3>
                                                        </div>
                                                    </div>
                                                    <div class="bottom">
                                                        <div class="wrapper">
                                                            <ul class="list-inline">
                                                                <li class="active mt-3">
                                                                    <span class="fa fa-eye"></span>
                                                                    <span>تعداد بازدید: </span>
                                                                    <span class="temp">{{ article.visit_count }}</span>
                                                                </li>
                                                                <li class="active mt-3">
                                                                    <span class="fa fa-comment"></span>
                                                                    <span>تعداد نظرات: </span>
                                                                    <span class="temp">{{ article.articlecomment_set.count }}</span>
                                                                </li>
                                                                <li class="active mt-3">
                                                                    <span class="fa fa-pencil"></span>
                                                                    <span> منتشر شده در : {{ article.date_created.year }}/{{ article.date_created.month }}/{{ article.date_created.day }} </span>
                                                                </li>
                                                                <li class="active mt-3">
                                                                    <span class="fa fa-edit"></span>
                                                                    <span> بروزرسانی : {{ article.date_update.year }}/{{ article.date_update.month }}/{{ article.date_update.day }} </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>

            </section>
        </div>
    </div>

{% endblock %}
{% block script %}

{% endblock %}