{% extends 'dashboard/base.html' %}
{% block head_css %}

{% endblock %}
{% block head_script %}

{% endblock %}
{% block title %}
    لیست نظرات
{% endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 1222px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>نظرات</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active">نظرات</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">نظرات </h3>
                            </div>
                            <!-- /.card-header -->
                            {% if comments %}
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr class="text-center">
                                        <th>ID</th>
                                        <th>نام فرستنده</th>
                                        <th>پست</th>
                                        <th>تاریخ ارسال</th>
                                        <th>وضعیت</th>
                                    </tr>

                                    {% for comment in comments %}
                                        <tr class="text-center">
                                            <td>{{ comment.id }}</td>

                                            <td><a data-toggle="tooltip" title="حذف  کردن"
                                                   href="{% url 'delete-comment' comment.id %}"><i
                                                    class="mx-2 fa fa-remove text-danger"></i></a>
                                                {{ comment.name }} <a data-toggle="tooltip" title="ویرایش"
                                                                      href="{% url 'edit-comment' comment.id %}"><i
                                                        class="mx-2 fa fa-edit text-success"></i></a></td>
                                            <td>
                                                <a target="_blank"
                                                   href="{% url 'blog:article_detail' comment.article.id comment.article.get_slug_title %}">{{ comment.article.title }}</a>
                                            </td>
                                            <td>
                                                {{ comment.date_send.year }}/{{ comment.date_send.month }}/{{ comment.date_send.day }}
                                            </td>
                                            {% if comment.status == 'a' %}
                                                <td class="text-success">قبول شده</td>
                                            {% else %}
                                                <td class="text-danger">رد شده</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                                {% else %}
                                <p class="alert alert-warning text-center">نظری یافت نشد.</p>
                            {% endif %}
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"></li>


                                    <li class="page-item"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
{% block script %}

{% endblock %}