{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block head_css %}

{% endblock %}
{% block head_script %}

{% endblock %}
{% block title %}
    ایجاد پست پیشنهادی مدیر
{% endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 1222px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ایجاد پست پیشنهادی مدیر</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active">ایجاد پست پیشنهادی مدیر</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{% url 'create-suggestion-post' %}" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-success" type="submit">ذخیره</button>
                        </form>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
{% block script %}

{% endblock %}