{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_css %}

{% endblock %}
{% block head_script %}
<script src="{% static 'tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
{% endblock %}
{% block title %}

{% endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 1222px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ویرایش دسته بندی ها</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active">ویرایش دسته بندی ها</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">علی بهزاد</h3>
                            </div>
                            <div class="card card-info">
                                <!-- form start -->
                                <form class="form-horizontal" method="post" action="{% url 'create-article' %}"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <a class="btn btn-warning" href="{% url 'create-new-user' %}">ایجاد کاربر
                                            جدید</a>
                                        <br><br>
                                        {{ form|crispy }}
                                        <br>
                                        <a class="btn btn-primary" href="{% url 'create-category' %}">ایجاد دسته بندی
                                            جدید</a>
                                        <a class="btn btn-danger" href="{% url 'create-tag' %}">ایجاد برچسب جدید</a>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-success">ذخیره</button>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
{% block script %}
        <script>
        tinymce.init({
            selector: '#id_content'
        });
    </script>
{% endblock %}