{% extends 'dashboard/base.html' %}
{% block title %}
    لیست کاربران
{% endblock %}
{% block content %}
    {% if request.user.is_superuser %}
        <div class="content-wrapper" style="min-height: 1165px;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>کاربران</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">خانه</a></li>
                                <li class="breadcrumb-item active">کاربران</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    {% if request.user.is_superuser %}
                        <div class="col-md-3">
                            <a href="{% url 'create-new-user' %}" class="btn btn-primary btn-block mb-3">ایجاد کاربر جدید</a>
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">فیلتر ها</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item active">
                                            <a href="{% url 'admin-list' %}" class="nav-link {% if request.path == admin_path %}
                                            active
                                            {% endif %} ">
                                                <i class="fa fa-user pl-2"></i>ادمین ها
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'block-list' %}" class="nav-link {% if request.path == block_path %}
                                            active
                                            {% endif %} ">
                                                <i class="fa fa-remove pl-2"></i> بلاک شده ها
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /. box -->
                        </div>
                    {% endif %}
                    <!-- /.col -->
                    {% if customuser_list %}
                        <div class="col-md-9">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <a href="{% url 'user-list' %}">
                                        <h3 class="card-title">لیست کابران</h3>
                                    </a>

                                    <div class="card-tools">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" placeholder="جستجو کاربر">
                                            <div class="input-group-append">
                                                <div class="btn btn-primary">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <div class="mailbox-controls">
                                    </div>
                                    <!-- /.float-right -->
                                </div>
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                        {% for customuser in customuser_list %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'active-deactive-user' customuser.id %}">
                                                        <button type="button" class="btn btn-default btn-sm">
                                                            {% if request.path == '/accounts/dashboard/user-list/' or request.path == '/accounts/dashboard/admin-list/' %}
                                                                <i class="fa fa-remove"></i>
                                                                {% else %}
                                                                <i class="fa fa-user-plus"></i>
                                                            {% endif %}
                                                        </button>
                                                    </a>
                                                </td>
                                                {% if customuser.is_superuser %}
                                                    <td class="mailbox-star"><a
                                                            href="{% url 'add-remove-admin' customuser.id %}"><i
                                                            class="fa fa-star text-warning"></i></a></td>
                                                {% elif customuser.is_staff %}
                                                    <td class="mailbox-star"><a
                                                            href="{% url 'add-remove-admin' customuser.id %}"><i
                                                            class="fa fa-star text-primary"></i></a></td>
                                                    {% else %}
                                                    <td class="mailbox-star"><a
                                                            href="{% url 'add-remove-admin' customuser.id %}"><i
                                                            class="fa fa-star text-black-50"></i></a></td>
                                                {% endif %}
                                                <td class="mailbox-name"><a
                                                        href="{% url 'edit-user' customuser.id %}">{{ customuser.username }}</a>
                                                </td>
                                                {% if customuser.get_full_name %}
                                                    <td class="mailbox-subject">{{ customuser.get_full_name }}
                                                    </td>
                                                {% else %}
                                                    <td class="mailbox-subject">اطلاعاتی پیدا نشد.
                                                    </td>
                                                {% endif %}
                                                {% if customuser.email %}
                                                    <td class="mailbox-attachment">{{ customuser.email }}</td>
                                                {% else %}
                                                    <td class="mailbox-attachment">ایمیلی تعریف نشده</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    <!-- /.table -->
                                </div>
                                <!-- /.mail-box-messages -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer p-0">
                                <div class="mailbox-controls">
                                    <div class="float-left">
                                        {{ page_obj.number }}/{{ paginator.count }}
                                        <div class="btn-group">
                                            {% if page_obj.has_previous %}
                                                <a class="btn btn-default btn-sm"
                                                   href="?page={{ page_obj.previous_page_number }}">
                                                    <i
                                                            class="fa fa-chevron-right"></i>
                                                </a>
                                            {% endif %}
                                            {% if page_obj.has_next %}
                                                <a class="btn btn-default btn-sm"
                                                   href="?page={{ page_obj.next_page_number }}">
                                                    <i
                                                            class="fa fa-chevron-left"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                        <!-- /.btn-group -->
                                    </div>
                                    <!-- /.float-right -->
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p class="alert alert-warning text-center col-9">خالی می باشد</p>
                    {% endif %}

                    <!-- /. box -->
                </div>
                <!-- /.col -->
            </section>
        </div>
    {% else %}
        <p class="alert alert-danger text-center">شما دسترسی یه این بخش را ندارید</p>
    {% endif %}

{% endblock %}