{% load static %}
<!-- jQuery JS -->
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'assets/js/plugins.js' %}"></script>
<!-- Ajax Mail -->
<script src="{% static 'assets/js/ajax-mail.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>