{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<!-- google font -->
<link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/Nab-Bold.css' %}">
<!-- Icon Font CSS -->
<link rel="stylesheet" href="{% static 'assets/css/icons.min.css' %}">
<!-- Plugins CSS -->
<link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
<!-- Main Style CSS -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- Modernizer JS -->
<script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
