/*----- 12. instagram style  -----*/

.single-instagram {
    overflow: hidden;
    a {
        img {
            width: 100%;
            transition: all .5s ease 0s;
            transform: scale(1);
        }
    }
    &:hover a img {
        transform: scale(1.1);
    }
}